<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portagram</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/network/network.css">    
</head>
<body>        
        <main id="main">
            <div class="Lside"></div>
            <script type ="module" src="../js/network/network.js"></script>        
            <div id="userList"></div>                                       <!--User list Import-->
            <div id="skeleton">
                <div id="skeleton1">
                    <div class="skeleton">
                        <div class="thumbnail"></div>
                        <div class="text"></div>
                        <div class="text"></div>
                    </div>
                </div>
                <div id="skeleton2">
                    <div class="skeleton">
                        <div class="thumbnail"></div>
                        <div class="text"></div>
                        <div class="text"></div>
                    </div>
                </div>
                <div id="skeleton3">
                    <div class="skeleton">
                        <div class="thumbnail"></div>
                        <div class="text"></div>
                        <div class="text"></div>
                    </div>
                </div>
                <div id="skeleton4">
                    <div class="skeleton">
                        <div class="thumbnail"></div>
                        <div class="text"></div>
                        <div class="text"></div>
                    </div>
                </div>
            </div>
            <div class="Rside"></div>
            <script src="../js/header.js"></script>                         <!--  Header Script -->
            <script src="../js/footer_login.js"></script>                         <!--  Footer Script -->
            <script type="module" src="./js/header_sub.js"></script>
        </main>        
</body>
</html>